.vis-table-header-cell {
    flex: 1;
    background-color: #F5F5F5;

}

.vis-table {
    border: 1px solid #ddd;
    box-shadow: 0 0 1px rgba(0,0,0,.05);
    border-radius: 4px;
}

.vis-table-header {
    display: flex;
}

.vis-table-body-column {
    display: flex;
    flex-direction: column;
    flex: 1;
    position:relative;
    border-right: solid #CCCCCC .2px;
}

.vis-table-body-column-cell {
    flex: 1;
    height: 40px;
    border-bottom: solid #CCCCCC .2px;
    display: flex;
    flex-direction: column;
}

.last-bottom {
    border-bottom: none !important;
}

.last-right {
    border-right:none !important;
}

.vis-table-body-column-cell-header {
    background-color:#F5F5F5;
}

.vis-table-body-column-cell-slot {
    flex: 1;
  
}

.vis-table-body-column-cell-slot-top {
    border-bottom: solid #FCFCFC .2px
}

.vis-table-body {
    display: flex;
}

.vis-table-container {
    padding: 15px;
}

.vis-table-slot {
    position: absolute;
    background-color: #337ab7;
    right: 1px;
    left: 1px;
    border-radius: 10px;
    border-color: #2e6da4;
    border-style: solid;
    border-width: 1px;
    opacity: 0.85;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.vis-table-slot div {
    flex:1;
}

.vis-table-slot div span {
    color: white;
    display: block;
}